* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
#icon-container {
    position: absolute;
    top: 50px;
    left: 50px;
}
.icon {
    width: 50px;
    height: 50px;
    cursor: grab;
}
#scene {
    width: 100vw;
    height: 100vh;
}
.mood-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 2px solid black;
}

#start-button:hover {
    background-color: #45a049;
}

#control-panel {
    position: absolute;
    top:50px;
    right: 50px;
    width: 200px;
    float: right;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#control-panel select,
#control-panel button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

#debug-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: auto;
}

#mouse-coordinates {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}
