body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
#icon-container {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: #f0f0f0;
}
.icon {
    width: 50px;
    height: 50px;
    cursor: grab;
}
#scene {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
    float: left;
}
.mood-container {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    border: 2px solid darkgray;
    min-width: 250px;
}

#start-button:hover {
    background-color: #45a049;
}

#control-panel {
    width: 200px;
    float: right;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#control-panel select,
#control-panel button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

#debug-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: auto;
}
