body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
#icon-container {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: #f0f0f0;
}
.icon {
    width: 50px;
    height: 50px;
    cursor: grab;
}
#scene {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.mood-container {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    border: 2px solid darkgray;
    min-width: 250px;
}
#start-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #45a049;
}

